nav {
  width: 100%;
  height: auto;
}

.nav-default {
  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
  grid-template-rows: auto auto;
  align-items: end;
}

.header-logo {
  grid-area: 1 / 1 / 2 / 13;
}

.nav-default-work{
  grid-area: 3 / 9 / 4 / 10;
}

.nav-default-archive{
  grid-area: 3 / 10 / 4 / 11;
}

.nav-default-info{
  grid-area: 3 / 11 / 4 / 12;
}

.nav-default-time{
  grid-area: 3 / 12 / 4 / 13;
  text-align: right;
}

.hero-text{
  grid-area: 3 / 1 / 5 / 6;
}

/*==============*/


.nav-fixed {
  position: fixed;
  top: -80px; /* hidden above view */
  left: 0;
  width: 100%;
  background: white;
  transition: top 0.4s ease;
  z-index: 100;
  padding: var(--padding) var(--padding) 0 var(--padding);
}

.nav-fixed.visible {
  top: 0; /* slides down */
}

.nav-fixed .main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
  grid-template-rows: auto ;
}

.header-logo-small {
  grid-column: 1/3;
}

.nav-fixed-work {
  grid-column: 9/10;
}

.nav-fixed-archive {
  grid-column: 10/11;
}

.nav-fixed-info {
  grid-column: 11/12;
}

.nav-fixed-time {
  grid-column: 12 / 13;
  text-align: right;
}

.hr-nav {
  margin: var(--padding) 0 0 0;
}