.information{
  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
  aspect-ratio: auto;
  grid-template-rows: auto auto;
  place-items: start stretch;
  height: auto;
}

.info-hero-text{
  grid-area: 1 / 1 / 10 / 7;
}

.info-info{
  grid-area: 1 / 9 / 10 / 13;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: var(--gutter);
}

.info-info-hr{
  grid-column: 1 / 5;
}

/* Each section spans full width of info-info */
.info-contact,
.info-docs,
.info-discipline,
.info-tools,
.info-education {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: var(--gutter);
}

/* Titles in column 1 */
.info-contact > p,
.info-docs > p,
.info-discipline > p,
.info-tools > p,
.info-education > p {
  grid-column: 1 / 2;
}

.info-text {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-image {
  grid-area: 11 / 1 / 12 / 13;
}

@media (max-width: 1200px) {

  .info-hero-text{
  grid-area: 1 / 1 / 10 / 6;
}

.info-info{
  grid-area: 1 / 8 / 10 / 13;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-column-gap: var(--gutter);
}

.info-info-hr{
  grid-column: 1 / 6;
}

/* Each section spans full width of info-info */
.info-contact,
.info-docs,
.info-discipline,
.info-tools,
.info-education {
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-column-gap: var(--gutter);
}

/* Titles in column 1 */
.info-contact > p,
.info-docs > p,
.info-discipline > p,
.info-tools > p,
.info-education > p {
  grid-column: 1 / 2;
}

.info-contact .info-text{
  gap: var(--gutter);
}

.info-text {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

}

@media (max-width: 991.98px) {

  .info-hero-text{
  grid-area: 1 / 1 / 10 / 4;
}

.info-info{
  grid-area: 1 / 5 / 10 / 9;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: var(--gutter);
}

.info-info-hr{
  grid-column: 1 / 5;
}

/* Each section spans full width of info-info */
.info-contact,
.info-docs,
.info-discipline,
.info-tools,
.info-education {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: var(--gutter);
}

/* Titles in column 1 */
.info-contact > p,
.info-docs > p,
.info-discipline > p,
.info-tools > p,
.info-education > p {
  grid-column: 1 / 2;
}

.info-contact .info-text{
  gap: var(--gutter);
}

.info-text {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-image {
  grid-area: 11 / 1 / 12 / 9;
}

}

@media (max-width: 575.98px) {

  .information{
  grid-column-gap: var(--gutter);
  grid-row-gap: calc(var(--gutter)*3);
}

  .info-hero-text{
  grid-area: 2 / 1 / 3 / 5;
}

.info-info{
  grid-area: 1 / 1 / 2 / 5;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: var(--gutter);
}

.info-info-hr{
  grid-column: 1 / 5;
}

/* Each section spans full width of info-info */
.info-contact,
.info-docs,
.info-discipline,
.info-tools,
.info-education {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: var(--gutter);
}

/* Titles in column 1 */
.info-contact > p,
.info-docs > p,
.info-discipline > p,
.info-tools > p,
.info-education > p {
  grid-column: 1 / 2;
}

.info-contact .info-text{
  gap: var(--gutter);
}

.info-text {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-image {
  grid-area: 3 / 1 / 4 / 5;
}

}