* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'NMBook';
  /* Custom name for the font */
  src: url('/fonts/PPNeueMontreal/OTF/PPNeueMontreal-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'NMMedium';
  /* Custom name for the font */
  src: url('/fonts/PPNeueMontreal/OTF/PPNeueMontreal-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'NMBold';
  /* Custom name for the font */
  src: url('/fonts/PPNeueMontreal/OTF/PPNeueMontreal-Bold.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {

  --primary: #ffffff;
  --secondary: #0a0a0a;
  --accent: #737373;
  --light-accent: #D9D9D9;

  --gap: 1rem;
  --gutter: 1rem;
  --padding: 1rem;

  --display-size: 240px;

  --p-size: 14px;

  --h1-size: 32px;

  --h2-size: 32px;

  --easingOut: cubic-bezier(.16, 1, .3, 1);
  --easing: cubic-bezier(.83, 0, .17, 1);
}

p {
  font-family: "NMMedium", sans-serif;
  font-size: var(--p-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  color: var(--secondary);
}

a {
  font-family: "NMMedium", sans-serif;
  font-size: var(--p-size);
  color: var(--secondary);
  text-decoration: none;
  transition: var(--easingOut);
}

.accent {
  color: var(--accent);
}

.light-accent {
  color: var(--light-accent);
}

h1 {
  font-family: "NMMedium";
  font-size: var(--h1-size);
  color: var(--secondary);
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: var(--h2-size);
  color: var(--secondary);
  text-transform: uppercase;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  user-select: none;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--light-accent);
  margin: var(--padding) 0px;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}

.container{
  padding: var(--padding);
}

.main-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-columns: 1fr;
  display: grid;
}

.available {
  background: #00d923;
  border-radius: 50%;
  display: inline-block;
  height: .45rem;
  width: .45rem;
}

.unavailable {
  background: #ff3b30;
  border-radius: 50%;
  display: inline-block;
  height: .45rem;
  width: .45rem;
}

.hua {
  display: inline-block;
  position: relative;
}

.hua::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary);
  transition: transform 0.25s ease-out;
  transform-origin: bottom left;
}

.hua:hover::after {
  transform: scaleX(1);

  transform-origin: bottom left;

  color: var(--primary);
  background-color: var(--secondary);
}

.video-container {
  height: 100%;
  aspect-ratio: auto;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  display: flex;
}

.video-player {
  width: 100%;
  height: auto;
  overflow: clip;
}